{% extends "product/base.html" %}


{% block title %} BerryAmaze - LAND MARKETPLACE {% endblock %}
{% load static %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<style>



    h2{
        font-family: 'cursive', sans-serif;
        font-size: 30px;
        margin-bottom: 20px;
    }
    

</style>


    <div class="header-m">
        <div class="header-content" >

            <div style="margin-top:0px;" class="header-text">
                <h1 class="business-name" style='margin-top:0;' >LAND MARKETPLACE  IN NAROK </h1>
                <h2 style=" font-family: cursive;" class="black-text"></h2>

                <h4 class="orange-text" style="margin-top:5px;margin-bottom:10px;">CONVENIENTLY</h4>

<div class="welcome-text">
        <span class="berry">Welcome to BerryAmazePLATFORM WHERE QUALITY LANDS ARE OWN FOR THE NEXT THE NEXT GENERATION IN NAROK.</span><br>

        <a  href="#" class="learn-more">CHECK OUT <span style="font-size:20px;">&#8594;</span></a>
    </div>
            </div>
            <div style='margin-right:50px' class="image-wrapper">
                <img  src="{% static 'product/images/Grocery.jpg'%}" width='400px' height='400px' alt="Grocery Bag">
            </div>
        </div>
    </div>
<div class="main-content">
<div class="centered-text">
            <h2>BEST LANDS <upper> SERVICE TAILORED FOR YOU</upper></h2>
        </div>
        <div class="image-grid">
            <div class="image-item">
                <img src="{% static 'product/images/free.jpg' %}" width="240" height="220" alt="Fresh Products">
                <p>Get Good Quality Lands securely</p>
                <p>get a quality and productive lands for your generation</p>
            </div>
            <div class="image-item">
              <img src="{% static 'product/images/wait.jpg'%}" width="240" height="220" alt="Free Delivery">

                <p></p>
                <p>Our user-friendly platform makes land security,and automaton easy</p>
            </div>
            <div class="image-item">
                <img src="{% static 'product/images/Delivered.jpg' %}" width="240" height="220" alt="Free Delivery">
                <p>Free delivery</p>
                <p>Enjoy cost-effective and convenient services.</p>
            </div></div>
        </div>
        <div class="additional-text">
            <div class="additional-item">
              <img src="{% static 'product/images/fresh2.jpg'%}" width="210" height="020" alt="Free Delivery">
                <p>Explore </p>
                <p>Join our community of satisfied users , we have it all</p>
            </div>
            <div class="additional-item">
        <img src="{% static 'product/images/team2.jpg' %}" width="210" height="200" alt="Free team">
                <p>Our team is dedicated to your satisfaction</p>
                <p>We're committed to providing the best service with a smile</p>
            </div>

        </div>
<div class="automation-service">
            <h3>Experience Great Customer Service</h3>
            <p>Whether you're a first-time buyer or an experienced investor, you can trust us to provide you with the support and guidance you need every step of the way. </p>
        </div>
        <div class="subscription-images">
            <div class="subscription-item">
                <img src="{% static 'product/images/Custom2.jpg' %}" width="210" height="200"  alt="Custom Delivery">
                <p>verify lands</p>
                <p>Whether you're looking to buy, sell, or verify land titles, we're here to help you succeed. </p>
            </div>
            <div class="subscription-item">
                <img src="{% static 'product/images/fast.jpg'%}" width="210" height="200" alt="Time-Saving">
                <p>Time-Saving</p>
                <p>Automated delivery saves you time and effort.</p>
            </div>


<div class="subscription-item">
                <p>Flexible Options</p>
                <p>Change your own terms securely.</p>
            </div>
        </div>

    </div>

    <footer>
   
        <div class="bottom">
          <p>Copyright © 2024 <a href="#">Berry Amaze</a> LAND AUTHENTICATION & MARKETPLACE SYSTEM</p>
        </div>
      </footer>
     </body>
     </html>
     
 

{% endblock %}
